<section class="content">
    <div class="container-fluid mt-2">
        <div class="row">
            <section class="col-lg-7 connectedSortable">
                <app-memberlist-card [members]="members$ | async"></app-memberlist-card>
            </section>
            <section class="col-lg-5 connectedSortable">
                <app-member-card></app-member-card>
            </section>
        </div>

        <div class="row">
            <section class="col-lg-12 connectedSortable">
                <app-additionalmemberdetails-card></app-additionalmemberdetails-card>
            </section>            
        </div>
    </div>
</section>
